body{
    background:wheat;
    margin: 0;
}

.container{
    width: 1024px;
    margin: 0 auto;
}

.logo{
    float: left;
    width: 90px;
    margin-top: 10px;
}

img{
    display: block;
    width: 90%;
    height: auto;
}

.menu{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
}

.menu li{
    display: inline-block;
}    
.menu li a{
    color:black;
    margin-left: 20px;
    padding: 15px 0;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#featured-post{
    background-image: url(Images/logo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 70px;
}

#featured-post .wrapper{
    width: 500px;
    color:white;
}